In [1]:
# Import needed libraries
import pandas as pd

### This is for loading the data

# The crawl dataset we are using do not have column names or headings so we need to handle that
column_names = ['videoID', 'uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'relatedIDs']

# Load YouTube data for each depth file(we have 4 depths in total starting from 0)
def load_depth(path, crawl_date, depth):
    # Initialize a list to store the valid rows
    valid_rows = []
    # Read our dataset line by line
    # We were using pandas to load/read data at first but there were errors when the 1st row only has 1 or 2 column and pandas were assuming that's all the columns we have (inconsistent)
    # so we decided to go with this route instead and it works
    with open(path, 'r') as file:
        for line in file:
            # Split the line by tab and check if it has at least 2 columns
            # Some rows might have only 1 or 2 columns which is not useful for us, so we ignore them
            # this way it helps with fixing the issues with some rows having only 1 column as well
            split_line = line.strip().split('\t')
            if len(split_line) >= 2:
                valid_rows.append(split_line)       
    # Convert the list into pandas dataframe
    depth_data = pd.DataFrame(valid_rows)
    depth_data['crawl_date'] = crawl_date
    depth_data['depth'] = depth
    return depth_data

# Load all depth files for a single crawl
def load_crawl(path, crawl_date):
    # Load depth file 0, 1, 2 and 3
    depth_files = [f"{path}/{i}.txt" for i in range(4)]
    depth_dframe = []
    # Loop through the total depth files and add the dataframe to depth_dframe list
    for i, depth_file in enumerate (depth_files):
        depth_dframe.append(load_depth(depth_file, crawl_date, i))
    # Now for each crawl, we combine all depths into a single dataframe
    combined_data = pd.concat(depth_dframe, axis=0).reset_index(drop = True)
    return combined_data

In [2]:
### This is for cleaning and transformation the data (Data Preparation)
def prepare_data(df):
    # Since there may be more than 1 related ids, we handle it by combining the related IDs together as a single list
    combined_related_ids = []
    # Loop over each row and combine the related IDs
    for index, row in df.iterrows():
        # We select the related IDs columns (from the 10th column onward) 
        # The dataset description says the related IDs is up to 20 strings only 
        related_ids = row[9:29]  
        # Join the cleaned related IDs into a single string separated by commas then add to the list
        combined_related_ids.append(','.join(related_ids.astype(str)))
    # Add the combined relatedIDs to the DataFrame
    df['relatedIDs'] = combined_related_ids
    # Keep only the first 9 columns plus the new combined 'relatedIDs' column
    depth_data = df.iloc[:, :9].copy() 
    depth_data['relatedIDs'] = combined_related_ids 
    # Keep the crawl_date and depth column 
    depth_data[['crawl_date', 'depth']] = df[['crawl_date', 'depth']] 
    # Add the column names to each column
    depth_data.columns = column_names + ['crawl_date', 'depth']
    # Remove the leading/trailing whitespace from string columns
    depth_data['uploader'] = depth_data['uploader'].str.strip()
    depth_data['category'] = depth_data['category'].str.strip()
    # Convert these columns to numeric
    numeric_columns = ['age', 'length', 'views', 'rate', 'ratings', 'comments']
    for col in numeric_columns:
        depth_data[col] = pd.to_numeric(depth_data[col])   
    # Fill in the missing 'rate' values with the mean of the column
    depth_data['rate'] = depth_data['rate'].fillna(depth_data['rate'].mean())
    return depth_data

In [3]:
# testing = (load_depth("data/080331/2.txt", '2008-03-31', "2"))
# clean = clean_data(testing)
# print(clean)

# Load all the crawls in the given dataset
crawl1 = load_crawl('data/080327', '2008-03-27')
crawl2 = load_crawl('data/080329', '2008-03-29')
crawl3 = load_crawl('data/080331', '2008-03-31')
# Combine all crawls into a single dataframe
combined_data = pd.concat([crawl1, crawl2, crawl3], axis=0).reset_index(drop=True)
# Prepare the data (clean & transform)
combined_data = prepare_data(combined_data)
print(combined_data.head())

       videoID           uploader   age         category  length   views  \
0  gFa1YMEJFag            sxephil  1135    Entertainment     270  101384
1  pSJ4hv28zaI  thecomputernerd01  1136           Comedy     216     458
2  uHVEDq6RVXc    barelypolitical  1134  News & Politics      56  555203
3  K7Om0QZy-38          SouljaBoy  1134            Music     185   91293
4  DCAO6bZa31o    AssociatedPress  1134  News & Politics      45  108095

   rate  ratings  comments                                         relatedIDs  \
0  4.72     3407      2887  QuRYeRnAuXM,3TYqkBJ9YRk,rSJ8QZWBegU,nRcovJn9xH...
1  4.80      133      2183  dh6dF1XY3uI,_a0gQFOJYWM,UzPldH0vuHY,h9gRdAmGFn...
2  4.70     3574      2117  aYHBqH_xbCw,SfaxA9Q-9AQ,1cWWE3A2mDI,exT_E9FNu8...
3  3.19     1063      1132  UCeA4K2-wNk,BDmhe0vIFiQ,9xSvVPa41Cg,3Cc7-4OeAg...
4  3.58      264      1069  5vLbA7n8EG0,3ZbXJp-NUZc,McYsnvAymV8,MaE1kowuCB...

   crawl_date  depth
0  2008-03-27      0
1  2008-03-27      0
2  2008-03-27      0
3  2008-03-27      0
4  2008-03-27      0

In [ ]:
# Data ingestion and connection with MongoDB
from pymongo import MongoClient
# Connect to MongoDb database that we have created
uri = 'mongodb://localhost:27017/'
client = MongoClient(uri)
db = client["youtubedb"]
collection = db["youtube_vids"]
# this prevents duplicate from running this section more than once
collection.delete_many({})
# Convert the DataFrame into a list of dictionaries
insert_data = combined_data.to_dict('records')
# Insert the data into the collection
collection.insert_many(insert_data)

In [15]:
# Validation Queries

# Query 1: Validate Document Count
document_count = collection.count_documents({})
print("Total documents:", document_count)

# Query 2: Check Category Distribution
category_counts = collection.aggregate([
    { "$group": { "_id": "$category", "count": { "$sum": 1 } } }
])
print("Category distribution:")
for category in category_counts:
    print(category)

# Query 3: Check Average and Max Views
view_stats = collection.aggregate([
    { "$group": { "_id": None, "avgViews": { "$avg": "$views" }, "maxViews": { "$max": "$views" } } }
])
print("View statistics:")
for stats in view_stats:
    print(stats)

# Query 4: Validate Related IDs Format
related_id_check = collection.find({"relatedIDs": {"$exists": True, "$type": "string"}}).limit(5)
print("Sample related IDs:")
for doc in related_id_check:
    print(doc['relatedIDs'])

Total documents: 645731
Category distribution:
{'_id': 'Science & Technology', 'count': 7138}
{'_id': 'Howto & Style', 'count': 18031}
{'_id': 'Autos & Vehicles', 'count': 19237}
{'_id': 'News & Politics', 'count': 30913}
{'_id': 'People & Blogs', 'count': 56036}
{'_id': 'UNA', 'count': 8061}
{'_id': 'Sports', 'count': 48265}
{'_id': 'Comedy', 'count': 61113}
{'_id': 'Music', 'count': 156208}
{'_id': 'Nonprofits & Activism', 'count': 2210}
{'_id': 'Travel & Events', 'count': 8812}
{'_id': 'Film & Animation', 'count': 51459}
{'_id': 'Entertainment', 'count': 162044}
{'_id': 'Pets & Animals', 'count': 11325}
{'_id': 'Education', 'count': 4879}
View statistics:
{'_id': None, 'avgViews': 82669.36544938992, 'maxViews': 79897120}
Sample related IDs:
QuRYeRnAuXM,3TYqkBJ9YRk,rSJ8QZWBegU,nRcovJn9xHg,UEvVksP91kg,sVkuOk4jmCo,ZTopArY7Nbg,0RViGi2Rne8,HT_QlOJbDpg,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,1GKaVzNDbuI,yuZhwV24PmM,zQ83d_D2MGs,DomumdGQSg8,pFUYi7dp1WU,2l6vwAIAqNU,hiSmlmXp-aU
dh6dF1XY3uI,_a0gQFOJYWM,UzPldH0vuHY,h9gRdAmGFnM,rKWq0l6YiT0,M67aD5lLC2M,gP0jnBrVEpI,geUY_esOrt0,kIxj9S6jiB4,mfUwgrwkqiI,0jjrvtqa-BQ,VoPgxHja4Os,QJMZjx4L0BA,OshpuI9BGVU,eBGIQ7ZuuiU,L3mR8syHNIg,McZ3lP8lb6E,WsaQ0dQhXnA,16XHS2R_mEo,lhGZVgoDub0
aYHBqH_xbCw,SfaxA9Q-9AQ,1cWWE3A2mDI,exT_E9FNu84,osqnkdc349s,iOsGo_HWP-c,5lWlN8g2dAc,ZCYtPT_bpTI,6KqmfUFZbBw,Y_hAXbgxXp8,IxVsdS887HA,L1WYOl2_5Kg,bjAuzPnJ82A,E8_odhuWfTk,TKe2rBbGGEA,lwrxclIGJqk,T3depGF5E-0,9l2qbaOMbcU,8BfNqhV5hg4,2hZx3yBoNw4
UCeA4K2-wNk,BDmhe0vIFiQ,9xSvVPa41Cg,3Cc7-4OeAgM,NDtHpG0c0Cc,e5L0hW2Dj10,UmAa8JTm1Cc,-zDIXUSL174,QXEdjYf5ezY,G84LhBePK6k,OnosHPTij3M,yhGd25KcOh4,Cj_S_rut3LQ,XNyINFMHHm4,6hIis-_GIXk,hd6yq-HIibI,ZEDYzwdqHrU,t02kRsw1AUU,H4kZqk1NF4U,J52gclijmWw
5vLbA7n8EG0,3ZbXJp-NUZc,McYsnvAymV8,MaE1kowuCBQ,N1RMCuIUB9c,FZK4BRN6D9w,pM3GHI5xR9U,3ds7V085k7g,clhOnZRrmXc,TPUZqcibh4E,OIxgw04Y0Fc,13YOGHzzoMA,16s-pJs69UU,kHKefMuCqlk,1A1thQqUvAI,awVJCNMw1To,FJETon8XRxY,3t8GdtYdRk0,o5t3PwKccOo,ype6Hw_Hmjo

In [12]:
import time

# Clear the collection to avoid duplicate entries
collection.delete_many({})
print("Collection cleared.")

# Start timer
start_time = time.time()

# Ingest data (insert many records)
collection.insert_many(insert_data)

# End timer
end_time = time.time()

# Calculate and print ingestion time
ingestion_time = end_time - start_time
print(f"Data ingestion took {ingestion_time:.2f} seconds")

Collection cleared.
Data ingestion took 7.62 seconds

In [7]:
import time

# Measure execution time for document count
start_time = time.time()
document_count = collection.count_documents({})
end_time = time.time()

# Print results
print("Total documents:", document_count)
print(f"Document count query took {end_time - start_time:.4f} seconds")

Total documents: 645731
Document count query took 0.2190 seconds

In [8]:
# Measure execution time for category distribution query
start_time = time.time()
category_counts = collection.aggregate([
    { "$group": { "_id": "$category", "count": { "$sum": 1 } } }
])

# Collect results to ensure the query executes fully
categories = list(category_counts)
end_time = time.time()

# Print results and time
print("Category distribution:")
for category in categories:
    print(category)
print(f"Category distribution query took {end_time - start_time:.4f} seconds")

Category distribution:
{'_id': 'Autos & Vehicles', 'count': 19237}
{'_id': 'Howto & Style', 'count': 18031}
{'_id': 'Education', 'count': 4879}
{'_id': 'News & Politics', 'count': 30913}
{'_id': 'People & Blogs', 'count': 56036}
{'_id': 'UNA', 'count': 8061}
{'_id': 'Sports', 'count': 48265}
{'_id': 'Comedy', 'count': 61113}
{'_id': 'Music', 'count': 156208}
{'_id': 'Nonprofits & Activism', 'count': 2210}
{'_id': 'Travel & Events', 'count': 8812}
{'_id': 'Film & Animation', 'count': 51459}
{'_id': 'Entertainment', 'count': 162044}
{'_id': 'Pets & Animals', 'count': 11325}
{'_id': 'Science & Technology', 'count': 7138}
Category distribution query took 0.2644 seconds

In [9]:
# Measure execution time for view statistics query
start_time = time.time()
view_stats = collection.aggregate([
    { "$group": { "_id": None, "avgViews": { "$avg": "$views" }, "maxViews": { "$max": "$views" } } }
])

# Collect results to ensure the query executes fully
view_stats_result = list(view_stats)
end_time = time.time()

# Print results and time
print("View statistics:", view_stats_result)
print(f"View statistics query took {end_time - start_time:.4f} seconds")

View statistics: [{'_id': None, 'avgViews': 82669.36544938992, 'maxViews': 79897120}]
View statistics query took 0.4275 seconds

In [10]:
# Measure execution time for related IDs format check
start_time = time.time()
related_id_check = collection.find({"relatedIDs": {"$exists": True, "$type": "string"}}).limit(5)

# Collect results to ensure the query executes fully
related_ids = list(related_id_check)
end_time = time.time()

# Print results and time
print("Sample related IDs:")
for doc in related_ids:
    print(doc['relatedIDs'])
print(f"Related IDs check query took {end_time - start_time:.4f} seconds")

Sample related IDs:
QuRYeRnAuXM,3TYqkBJ9YRk,rSJ8QZWBegU,nRcovJn9xHg,UEvVksP91kg,sVkuOk4jmCo,ZTopArY7Nbg,0RViGi2Rne8,HT_QlOJbDpg,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,1GKaVzNDbuI,yuZhwV24PmM,zQ83d_D2MGs,DomumdGQSg8,pFUYi7dp1WU,2l6vwAIAqNU,hiSmlmXp-aU
dh6dF1XY3uI,_a0gQFOJYWM,UzPldH0vuHY,h9gRdAmGFnM,rKWq0l6YiT0,M67aD5lLC2M,gP0jnBrVEpI,geUY_esOrt0,kIxj9S6jiB4,mfUwgrwkqiI,0jjrvtqa-BQ,VoPgxHja4Os,QJMZjx4L0BA,OshpuI9BGVU,eBGIQ7ZuuiU,L3mR8syHNIg,McZ3lP8lb6E,WsaQ0dQhXnA,16XHS2R_mEo,lhGZVgoDub0
aYHBqH_xbCw,SfaxA9Q-9AQ,1cWWE3A2mDI,exT_E9FNu84,osqnkdc349s,iOsGo_HWP-c,5lWlN8g2dAc,ZCYtPT_bpTI,6KqmfUFZbBw,Y_hAXbgxXp8,IxVsdS887HA,L1WYOl2_5Kg,bjAuzPnJ82A,E8_odhuWfTk,TKe2rBbGGEA,lwrxclIGJqk,T3depGF5E-0,9l2qbaOMbcU,8BfNqhV5hg4,2hZx3yBoNw4
UCeA4K2-wNk,BDmhe0vIFiQ,9xSvVPa41Cg,3Cc7-4OeAgM,NDtHpG0c0Cc,e5L0hW2Dj10,UmAa8JTm1Cc,-zDIXUSL174,QXEdjYf5ezY,G84LhBePK6k,OnosHPTij3M,yhGd25KcOh4,Cj_S_rut3LQ,XNyINFMHHm4,6hIis-_GIXk,hd6yq-HIibI,ZEDYzwdqHrU,t02kRsw1AUU,H4kZqk1NF4U,J52gclijmWw
5vLbA7n8EG0,3ZbXJp-NUZc,McYsnvAymV8,MaE1kowuCBQ,N1RMCuIUB9c,FZK4BRN6D9w,pM3GHI5xR9U,3ds7V085k7g,clhOnZRrmXc,TPUZqcibh4E,OIxgw04Y0Fc,13YOGHzzoMA,16s-pJs69UU,kHKefMuCqlk,1A1thQqUvAI,awVJCNMw1To,FJETon8XRxY,3t8GdtYdRk0,o5t3PwKccOo,ype6Hw_Hmjo
Related IDs check query took 0.0010 seconds

In [1]:
# Running aggregation functions (from aggregations.py) and displaying results

from pymongo import MongoClient
from aggregations import (
    calculate_view_statistics,
    calculate_avg_rating_by_category,
    calculate_total_comments_and_ratings_by_category,
    calculate_avg_length_by_category,
    avg_views_per_video_by_category,
    most_viewed_videos,
    most_viewed_video_in_each_category,
    top_uploader_by_views,
    top_commented_videos
)
import pandas as pd

# MongoDB connection setup
uri = 'mongodb://localhost:27017/'
client = MongoClient(uri)
db = client["youtubedb"]
collection = db["youtube_vids"]

# 1. Platform-wide View Statistics
view_stats = list(calculate_view_statistics(collection))[0]
print("\nPlatform-Wide View Statistics:")
print(f"  - Average Views: {view_stats['avgViews']:.2f}")
print(f"  - Maximum Views: {view_stats['maxViews']}")
print(f"  - Minimum Views: {view_stats['minViews']}")

# 2. Average Rating by Category
avg_rating_by_category = list(calculate_avg_rating_by_category(collection))
rating_df = pd.DataFrame(avg_rating_by_category)
rating_df.columns = ["Category", "Average Rating"]
rating_df["Average Rating"] = rating_df["Average Rating"].round(2)
print("\nAverage Rating by Category:")
display(rating_df)

# 3. Total Comments and Ratings by Category
comments_ratings_by_category = list(calculate_total_comments_and_ratings_by_category(collection))
comments_ratings_df = pd.DataFrame(comments_ratings_by_category)
comments_ratings_df.columns = ["Category", "Total Comments", "Total Ratings"]
print("\nTotal Comments and Ratings by Category:")
display(comments_ratings_df)

# 4. Average Video Length by Category
avg_length_by_category = list(calculate_avg_length_by_category(collection))
length_df = pd.DataFrame(avg_length_by_category)
length_df.columns = ["Category", "Average Length"]
print("\nAverage Video Length by Category:")
display(length_df)

# 5. Average Views per Video by Category
avg_views_category = list(avg_views_per_video_by_category(collection))
avg_views_df = pd.DataFrame(avg_views_category)
avg_views_df.columns = ["Category", "Average Views"]
print("\nAverage Views per Video by Category:")
display(avg_views_df)

# 6. Most Viewed Videos on the Platform
most_viewed = list(most_viewed_videos(collection, top_n=5))
most_viewed_df = pd.DataFrame(most_viewed)
print("\nTop 5 Most Viewed Videos on the Platform:")
display(most_viewed_df)

# 7. Most Viewed Video in Each Category
most_viewed_per_category = list(most_viewed_video_in_each_category(collection))
most_viewed_category_df = pd.DataFrame(most_viewed_per_category)
print("\nMost Viewed Videos in Each Category:")
display(most_viewed_category_df)

# 8. Top Uploader by Total Views
top_uploader = list(top_uploader_by_views(collection))[0]
print("\nTop Uploader by Total Views:")
print(f"  - Uploader: {top_uploader['_id']}")
print(f"  - Total Views: {top_uploader['totalViews']}")

# 9. Top 5 Most Commented Videos
top_commented = list(top_commented_videos(collection))
top_commented_df = pd.DataFrame(top_commented)
print("\nTop 5 Most Commented Videos:")
display(top_commented_df)

Platform-Wide View Statistics:
  - Average Views: 82669.37
  - Maximum Views: 79897120
  - Minimum Views: 0

Average Rating by Category:

                 Category  Average Rating
0   Nonprofits & Activism            3.90
1                   Music            4.37
2                     UNA            3.96
3                  Comedy            3.79
4        Film & Animation            4.22
5         Travel & Events            3.43
6    Science & Technology            3.53
7           Entertainment            4.00
8         News & Politics            3.95
9                  Sports            3.98
10       Autos & Vehicles            3.65
11         People & Blogs            3.70
12          Howto & Style            3.73
13         Pets & Animals            3.80
14              Education            3.48

Total Comments and Ratings by Category:

                 Category  Total Comments  Total Ratings
0                  Comedy        13533334       18943971
1                   Music        31226791       43629456
2          Pets & Animals         1700101        2056596
3               Education          290630         290641
4           Howto & Style         2316272        1775097
5                  Sports         3872421        3810709
6          People & Blogs         6808719        6037218
7        Autos & Vehicles         1126921        1019226
8    Science & Technology          721902         427966
9         News & Politics         6969853        4425202
10          Entertainment        20109031       21227487
11       Film & Animation         4872288        7042302
12        Travel & Events          573695         566952
13  Nonprofits & Activism          204920         170565
14                    UNA         1250778        1891671

Average Video Length by Category:

                 Category  Average Length
0                  Sports      350.999710
1        Autos & Vehicles      135.422935
2          People & Blogs      205.600293
3           Howto & Style      244.745494
4          Pets & Animals      127.602208
5               Education      278.578397
6   Nonprofits & Activism      234.960181
7                   Music      233.846128
8                     UNA      148.724228
9                  Comedy      161.027965
10       Film & Animation      217.645601
11        Travel & Events      199.165570
12   Science & Technology      273.059120
13          Entertainment      231.014299
14        News & Politics      265.144017

Average Views per Video by Category:

                 Category  Average Views
0                  Sports   58442.829379
1        Autos & Vehicles   64163.566253
2          People & Blogs   57085.917696
3           Howto & Style   55242.966114
4          Pets & Animals  102090.176865
5               Education   14951.245337
6   Nonprofits & Activism   12124.777376
7                   Music  127125.909294
8                     UNA  236014.072820
9                  Comedy  115127.920852
10       Film & Animation   57942.756836
11        Travel & Events   35504.505220
12   Science & Technology   23326.552396
13          Entertainment   63325.110427
14        News & Politics   43908.405460

Top 5 Most Viewed Videos on the Platform:

,_id,videoID,uploader,category,views
0,670c8ea348320e2b33bcb767,dMH0bHeiRNg,judsonlaipply,Comedy,79897120
1,670c8ea348320e2b33bcdac7,cQ25-glGRzI,RCARecords,Music,77674728
2,670c8ea348320e2b33bca7eb,12Z3J1uzd0Q,kaejane,Film & Animation,65341925
3,670c8ea348320e2b33bcd93e,244qR7SvvX0,donotasyoudo,Entertainment,57790943
4,670c8ea348320e2b33bcce41,ePyRrb2-fzs,1988basti,Music,45984219

Most Viewed Videos in Each Category:

,_id,videoID,uploader,views,rate,comments
0,Film & Animation,12Z3J1uzd0Q,kaejane,65341925,3.03,5508
1,Education,VnGb6UQvwJs,aminochka89,2441432,4.56,1957
2,Pets & Animals,LU8DDYz68kM,Jason275,27721690,4.88,24004
3,Autos & Vehicles,ZeBd_F2Bz5Y,SupercarAce,8623041,4.55,6803
4,People & Blogs,v3ARyAb_1Bs,MastaBest,31812447,4.52,31065
5,Sports,vt4X7zFfv4k,abc1008mbs1179,12598542,4.80,6371
6,Howto & Style,sLGLum5SyKQ,SouljaBoy,31121122,4.52,37301
7,Entertainment,244qR7SvvX0,donotasyoudo,57790943,1.45,14913
8,News & Politics,SkELRp4wKPs,piu,12730681,4.71,15537
9,Science & Technology,W1czBcnX1Ww,olinerd,3234852,4.82,6093
10,Music,cQ25-glGRzI,RCARecords,77674728,4.45,186858
11,UNA,8h98jb9Lk74,duyuhp,33880568,3.82,4378
12,Comedy,dMH0bHeiRNg,judsonlaipply,79897120,4.65,131356
13,Nonprofits & Activism,tFxk7glmMbo,VictoryFund,1063928,4.43,9628
14,Travel & Events,p0aQvKDA1K0,cinnamonstar808,12239023,4.73,3032

Top Uploader by Total Views:
  - Uploader: universalmusicgroup
  - Total Views: 1104279219

Top 5 Most Commented Videos:

,_id,videoID,uploader,category,comments
0,670c8ea348320e2b33bca7b3,kHmvkRoEowc,itschriscrocker,Entertainment,259683
1,670c8ea348320e2b33bdc097,uSVRuA8RpkU,duelistXmist,Entertainment,240970
2,670c8ea448320e2b33c0c782,-oHivXjiX_w,makedoniatruth,News & Politics,210672
3,670c8ea348320e2b33bcdac7,cQ25-glGRzI,RCARecords,Music,186858
4,670c8ea348320e2b33bdbf5b,QjA5faZF1A8,guitar90,Music,169563